header {
  background-color: #d2b48c;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

button {
  background-color: #d2b48c;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1%;
}

button:hover {
  background-color: #a0522d;
}

button .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*----------------*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  margin: 20px;
}

h1 {
  font-size: 2rem;
}
section {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

titre2 {
  color: #333;
  border-bottom: 2px solid #d2b48c;
  padding-bottom: 5px;
}

code {
  background: #f4f4f4;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.example {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-left: 4px solid #d2b48c;
  border-radius: 5px;
  font-style: italic;
}