body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header {
  background-color: #d2b48c;
  text-align: center;
  padding: 20px;
}

.container {
    width: fit-content;
    margin: 20px auto;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* Ajusté pour correspondre à la nouvelle taille des cartes */
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.card input {
    display: none;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    background-image: url('../asset/Image/memory/super_mario.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: red;
}


.card-back {
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back img {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.card input:checked + .card-inner {
    transform: rotateY(180deg);
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d2b48c;
    border-radius: 10px;
    border: #d2b48c;
    
}

button:hover {
  background-color: #a0522d;
  transform: scale(1.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

@media screen and (max-width: 600px) {
    .card {
        width: 60px;
        height: 60px;
    }
    .card-back img {
        max-width: 50px;
        max-height: 50px;
    }
    .memory-game {
        grid-template-columns: repeat(4, 60px);
    }
}

.card:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front:hover {
    filter: brightness(1.2);
    transition: filter 0.3s;
}

.card {
    border: 2px solid transparent;
    transition: border 0.3s;
}

.card:hover .card-inner {
    transform: rotateY(5deg);
    transition: transform 0.3s;
}

.card:hover {
    border: 2px solid red;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Assure que la carte survolée reste au-dessus des autres */
    transition: transform 0.3s, box-shadow 0.3s;
}







