body {
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header {
  background-color: #d2b48c;
  text-align: center;
  padding: 20px;
  
}

.button-container {
    margin-top: 20px;
    
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d2b48c;
    border-radius: 10px;
    border: #d2b48c;
    
}

button:hover {
  background-color: #a0522d;
  transform: scale(1.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
    font-size: 1.5em;
    background: linear-gradient(to right, #d2b48c, #ebcaa0);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

section {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}